## Deliverable 2. Create a Customer Travel Destinations Map.

In [57]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [58]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ventspils,LV,57.3894,21.5606,35.60,93,90,17.27,overcast clouds
1,1,Hasaki,JP,35.7333,140.8333,64.00,63,75,10.36,broken clouds
2,2,Tuktoyaktuk,CA,69.4541,-133.0374,26.60,80,20,6.91,few clouds
3,3,Kuang,MY,3.2594,101.5541,80.01,89,20,1.50,few clouds
4,4,Takoradi,GH,4.8845,-1.7554,80.76,85,78,7.96,light rain

In [59]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [60]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Kuang,MY,3.2594,101.5541,80.01,89,20,1.50,few clouds
4,4,Takoradi,GH,4.8845,-1.7554,80.76,85,78,7.96,light rain
16,16,Vaini,TO,-21.2000,-175.2000,82.40,83,75,5.75,broken clouds
19,19,Avarua,CK,-21.2078,-159.7750,82.40,74,75,12.66,broken clouds
26,26,Puerto Ayora,EC,-0.7393,-90.3518,75.99,95,67,8.01,broken clouds
28,28,Atuona,PF,-9.8000,-139.0333,80.67,72,15,14.43,few clouds
29,29,Hithadhoo,MV,-0.6000,73.0833,82.99,69,15,7.96,few clouds
33,33,Namatanai,PG,-3.6667,152.4333,84.38,69,34,8.70,scattered clouds
35,35,Meulaboh,ID,4.1363,96.1285,75.06,86,97,3.89,overcast clouds
39,39,Kailua,US,21.4022,-157.7394,84.20,65,40,13.80,scattered clouds

In [61]:
# 4a. Determine if there are any empty rows.
#preferred_cities_df.notnull().sum()
clean_df.count()

City_ID                207
City                   207
Country                207
Lat                    207
Lng                    207
Max Temp               207
Humidity               207
Cloudiness             207
Wind Speed             207
Current Description    207
dtype: int64

In [62]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Kuang,MY,3.2594,101.5541,80.01,89,20,1.50,few clouds
4,4,Takoradi,GH,4.8845,-1.7554,80.76,85,78,7.96,light rain
16,16,Vaini,TO,-21.2000,-175.2000,82.40,83,75,5.75,broken clouds
19,19,Avarua,CK,-21.2078,-159.7750,82.40,74,75,12.66,broken clouds
26,26,Puerto Ayora,EC,-0.7393,-90.3518,75.99,95,67,8.01,broken clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Phan Thiet,VN,10.9333,108.1000,81.72,73,59,4.70,broken clouds
662,662,Nanning,CN,22.8167,108.3167,77.00,94,75,4.47,broken clouds
664,664,Bara,NG,10.3744,10.7288,82.62,64,86,14.00,overcast clouds
667,667,Kieta,PG,-6.2167,155.6333,80.01,83,99,5.64,overcast clouds
672,672,Vigia Del Fuerte,CO,6.5789,-76.8863,76.33,94,94,1.41,overcast clouds

In [63]:
clean_df.count()

City_ID                207
City                   207
Country                207
Lat                    207
Lng                    207
Max Temp               207
Humidity               207
Cloudiness             207
Wind Speed             207
Current Description    207
dtype: int64

In [65]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Kuang,MY,80.01,few clouds,3.2594,101.5541,
4,Takoradi,GH,80.76,light rain,4.8845,-1.7554,
16,Vaini,TO,82.40,broken clouds,-21.2000,-175.2000,
19,Avarua,CK,82.40,broken clouds,-21.2078,-159.7750,
26,Puerto Ayora,EC,75.99,broken clouds,-0.7393,-90.3518,
28,Atuona,PF,80.67,few clouds,-9.8000,-139.0333,
29,Hithadhoo,MV,82.99,few clouds,-0.6000,73.0833,
33,Namatanai,PG,84.38,scattered clouds,-3.6667,152.4333,
35,Meulaboh,ID,75.06,overcast clouds,4.1363,96.1285,
39,Kailua,US,84.20,scattered clouds,21.4022,-157.7394,

In [70]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [71]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Kuang,MY,80.01,few clouds,3.2594,101.5541,Guest House Dpinggiran
4,Takoradi,GH,80.76,light rain,4.8845,-1.7554,Raybow International Hotel
16,Vaini,TO,82.40,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
19,Avarua,CK,82.40,broken clouds,-21.2078,-159.7750,Paradise Inn
26,Puerto Ayora,EC,75.99,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
661,Phan Thiet,VN,81.72,broken clouds,10.9333,108.1000,Hotel Saigon-PT
662,Nanning,CN,77.00,broken clouds,22.8167,108.3167,Nanning Travelling With Hostel
664,Bara,NG,82.62,overcast clouds,10.3744,10.7288,
667,Kieta,PG,80.01,overcast clouds,-6.2167,155.6333,Uruna Bay Retreat
672,Vigia Del Fuerte,CO,76.33,overcast clouds,6.5789,-76.8863,"Hotel ""El Parque"""

In [74]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [76]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [80]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))